apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: manojphaju34/nodeapp:latest
          ports:
            - containerPort: 3000

---
apiVersion: v1
kind: Service
metadata:
  name: sample-app-service
  namespace: default
spec:
  selector:
    app: sample-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 80         # Cluster IP port
      targetPort: 3000   # Container port
      nodePort: 31110  # NodePort for external access (30000-32767)
