apiVersion: v1
kind: Service
metadata:
  name: sample-app-service
  namespace: default
spec:
  selector:
    app: sample-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 80         # Cluster IP port
      targetPort: 3000   # Container port
      nodePort: 31110  # NodePort for external access (30000-32767)
